{% extends "layout.twig" %}


{% block content %}

    <style type="text/css">
        #signup {
            background-color: #eee;
            min-height: 300px;
            text-align: center;
        }

        #footer {
            color: white;
            width: 100%;
            min-height: 150px;
            background-color: black;
            padding-top: 15px;
        }
    </style>

    <div class="jumbotron">
        <div class="container">
            <h1>Trebaju Vam Carape?</h1>
            <p>Neki bolan tekst ovde tipa - da li ste se probudili jutros i niste mogli da nadjete ciste carape?</p>
            <p><a data-scroll class="btn btn-primary btn-lg" href="#pick-socks" role="button">Saznajte više</a></p>
        </div>

    </div>

    <div id="pick-socks" class="container">
        <div class="row">
            <h2>KupiCarape je Servis za expressno narucivanje i dostavu carapa</h2>
        </div>


        <div class="row">
            <h4>Izaberite Carape koje zelite da narucite:</h4>
            <div class="row">
                {% for sock in socks %}
                {% if ((loop.index % 2) == 1) %}
            </div>
            <div class="row">
                {% endif %}

                <div class="col-md-3 ">
                    <a data-scroll data-id="{{ sock.id }}" data-options='{"easing":"linear"}' href="#signup" class="socks_items">
                        <div>
                            <div>
                                <img src="{{ asset('images/black_long_socks.jpg ') }}" />
                            </div>

                            {{ sock.name }}
                        </div>
                    </a>
                </div>

                {% endfor %}
            </div>
        </div>


    </div>

    <div style="height: 350px">

    </div>

    <div id="signup" class="container-fluid center-block">
        <div class="jumbotron">
            <h2>Unesite Vaš Mail:</h2>

            <div id="signup-success" class="alert alert-success signup-alert" style="display: none;">
                Hvala Vam na vremenu! Neko iz našeg tima će Vas kontaktirati putem E-Maila za dalje informacije
            </div>

            <div id="signup-error" class="alert alert-danger signup-alert" style="display: none;">
                Ups, doslo je do greške i problem je prosledjen našem timu.
                Za svaki slučaj, proverite samo da li ste dobro uneli Vašu E-Mail adresu :-)
            </div>

            <div id="signup-error-email" class="alert alert-danger signup-alert" style="display: none;">
                Ups, izgleda da niste uneli Vašu E-Mail adresu :-)
            </div>

            <form id="signup-form" onsubmit="return false;">
                <div class="form-group row ">

                    <div class="col-md-8">
                        <input id="email" name="email" type="email" class="form-control input-lg " id="email" placeholder="Unesite Vašu E-Mail Adresu ovde" />
                    </div>

                    <div class="col-md-2">
                        <button type="submit" class="btn btn-lg btn-success btn-block">Dalje >></button>
                    </div>

                    <input id="socks_type" type="hidden" name="socks_type" value="" />

                </div>


            </form>
        </div>
    </div>

    <div id="footer" class="container">
        <div class="row">
            <p style="text-align: center">Copyright (c) 2015 KupiCarape.com. Sva prava zadrzana.</p>
        </div>


        <ul style="list-style-type: none;">
            <li>O Nama</li>
            <li>Kontakt</li>
            <li>Jos neko sranje</li>
        </ul>
    </div>

    <script>
        smoothScroll.init();
    </script>

    <script>
        $('.socks_items').click(function(item) {
            var id = $(this).attr('data-id');

            $('#socks_type').val(id);
        });



        $('#signup-form').on('submit', function() {
            hideFormError();

            var email   = $('#email').val();

            if (email.length === 0) {
                showFormError();

                return false;
            }

            var data = {};

            // Hide all alert DIVs
            $('.signup-alert').hide(100);

            $('#signup-form input').each(function(index, obj) {
                var key = $(this).attr('name');
                var val = $(this).val();

                data[key]   = val;
            });

            $.post(
                    '{{ url('signup') }}',
                    data,
                    onSignupSuccess
            ).fail(onSignupFailure);
        });

        hideAllSignupAlerts = function() {
            $('.signup-alert').hide();
        };

        hideFormError   = function() {
            hideAllSignupAlerts();

            $('#signup-form').removeClass('has-error');
        };

        showFormError   = function() {
            hideAllSignupAlerts();

            $('#signup-error-email').show(100);
            $('#signup-form').addClass('has-error');
        };

        onSignupSuccess = function() {
            hideAllSignupAlerts();

            $('#signup-success').show(100);
        };

        onSignupFailure = function() {
            hideAllSignupAlerts();

            $('#signup-error').show(100);
        };


    </script>
{% endblock %}

