{% extends "layout.twig" %}


{% block content %}

    <style type="text/css">
        html, body {
            height: 100%;
        }

        #signup {
            background-color: #eee;
            min-height: 300px;
            text-align: center;
        }

        #footer {
            color: white;
            width: 100%;
            min-height: 75px;
            background-color: black;
            padding-top: 15px;
        }

        #jumbotron {
            padding-top: 25px;
            background-image: url("images/bg-sample-4.jpg");
            background-position: center, right;
            background-repeat:no-repeat;
            background-size: 100% auto;
            min-height: 550px;
        }

        #jumbotron h1 {
            padding-top:10%;
        }

        #pick-socks {
            padding: 15px 0px;
        }

        .socks-thumb {
            min-height: 200px;
        }

        /*#menu {*/
        /*width: 100%;*/
        /*height: 45px;*/
        /*}*/

        /*        media queries*/
        @media screen and (max-width: 1330px) {
            #jumbotron {
                min-height: 450px;
            }
        }
        @media screen and (max-width: 1110px) {
            #jumbotron {
                min-height: 400px;
                background-position: top, right;
                background-size: cover;
            }
        }
        @media screen and (max-width: 980px) {
            #jumbotron {
                min-height: 350px;
            }
        }
        @media screen and (max-width: 770px) {
            #jumbotron {
                min-height: 300px;

            }
            @media screen and (max-width: 550px) {
                #jumbotron {
                    min-height: 300px;
                }
            }
        }
    </style>

    <div id="menu">

    </div>

    <div class="jumbotron" id="jumbotron">
        <div class="container">
            <h1>Trebaju Vam Čarape?</h1>
            <p>Probudili ste se jutros i shvatili da opet nemate <strong>čistih čarapa?</strong></p>
            <p><a data-scroll class="btn btn-primary btn-lg" href="#pick-socks" role="button">Saznajte više</a></p>
        </div>

    </div>

    <div id="pick-socks" class="container">
        <div class="row">

            <div id="inner" style="width: 50%; position: relative; margin: 0 auto; text-align: center;">
                <h1>Koje čarape Vam trebaju:</h1>
                <div class="row">
                    {% for sock in socks %}
                    {% if ((loop.index % 2) == 1) %}
                </div>
                <div class="row">
                    {% endif %}

                    <div class="col-md-6 ">
                        <a data-scroll data-id="{{ sock.id }}" data-options='{"easing":"linear"}' href="#signup" class="socks_items">
                            <div>
                                <div class="socks-thumb">
                                    <img src="{{ asset('images/' ~ sock.image) }}" />
                                </div>

                                {{ sock.name }}
                            </div>
                        </a>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>


    </div>

    <div id="signup" class="container-fluid center-block">
        <div class="jumbotron">
            <h2>Unesite Vaš Mail:</h2>

            <h4>Unesite Vaš mail kako bi mogli da Vas kontaktiramo čim pokrenemo servis za dostavu čarapa.</h4>

            <div id="signup-success" class="alert alert-success signup-alert" style="display: none;">
                Hvala Vam na vremenu! Neko iz našeg tima će Vas kontaktirati putem E-Maila za dalje informacije
            </div>

            <div id="signup-error" class="alert alert-danger signup-alert" style="display: none;">
                Ups, doslo je do greške i problem je prosledjen našem timu.
                Za svaki slučaj, proverite samo da li ste dobro uneli Vašu E-Mail adresu :-)
            </div>

            <div id="signup-error-email" class="alert alert-danger signup-alert" style="display: none;">
                Ups, izgleda da niste uneli Vašu E-Mail adresu :-)
            </div>

            <form id="signup-form" onsubmit="return false;">
                <div class="form-group row ">

                    <div class="col-md-8">
                        <input id="email" name="email" type="email" class="form-control input-lg " id="email" placeholder="Unesite Vašu E-Mail Adresu ovde" />
                        <div style="text-align: left">
                            * Vaš mail ćemo korisiti <strong>isključivo</strong> kako bi smo mogli da Vas kontaktiramo u vezi porudžbine.
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button type="submit" class="btn btn-lg btn-success btn-block">Pošalji >></button>
                    </div>

                    <input id="socks_type" type="hidden" name="socks_type" value="" />

                </div>


            </form>
        </div>
    </div>

    <div id="footer" class="container">
        <div class="row">
            <p style="text-align: center">Copyright (c) 2015 KupiCarape.com. Sva prava zadrzana.</p>
        </div>
    </div>

    <script>
        smoothScroll.init();
    </script>

    <script>
        $('.socks_items').click(function(item) {
            var id = $(this).attr('data-id');

            $('#socks_type').val(id);
        });



        $('#signup-form').on('submit', function() {
            hideFormError();

            var email   = $('#email').val();

            if (email.length === 0) {
                showFormError();

                return false;
            }

            var data = {};

            // Hide all alert DIVs
            $('.signup-alert').hide(100);

            $('#signup-form input').each(function(index, obj) {
                var key = $(this).attr('name');
                var val = $(this).val();

                data[key]   = val;
            });

            $.post(
                    '{{ url('signup') }}',
                    data,
                    onSignupSuccess
            ).fail(onSignupFailure);
        });

        hideAllSignupAlerts = function() {
            $('.signup-alert').hide();
        };

        hideFormError   = function() {
            hideAllSignupAlerts();

            $('#signup-form').removeClass('has-error');
        };

        showFormError   = function() {
            hideAllSignupAlerts();

            $('#signup-error-email').show(100);
            $('#signup-form').addClass('has-error');
        };

        onSignupSuccess = function() {
            hideAllSignupAlerts();

            $('#signup-success').show(100);
        };

        onSignupFailure = function() {
            hideAllSignupAlerts();

            $('#signup-error').show(100);
        };


    </script>
{% endblock %}

